.modalProduct{
  height: 500px !important;
}

.firstProduct{
  font-size: 16px;
  text-align: left;
  min-width: 193px;
}

.middleProduct{
  min-width: 410px;
}

.secondProduct{
  font-size: 16px;
  text-align: right;
  min-width: 160;
}

.checkMark{
  color: red;
}