.productWrapper{
  width: 250px;
  height: 450px;

}

.productCardContainer{
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: relative;

}

.arrow.right{
  position: absolute;
  top: 200px;
  right: 0px
}

.arrow.left{
  position: absolute;
  top: 200px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.relatedProductTitle{
  padding: 15px;

}