.productCard{
  padding-left: 5px;;
  width: 250px;
  height: 410px;
  border: 3px solid gainsboro;
  margin: auto 10px;
  box-sizing: unset;
  position: relative;
  cursor: pointer;

}

.productCat{
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

.productTitle{
  padding-top: 2px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.2rem;
}

.productPrice{
  font-size: 12px;
  margin-bottom: 0.2rem;
}

.productStarIconRelatedProd{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 35px;
  width: 45px;
  color: red;
  cursor: pointer;
}