/* Normal Gallery Styling */
.overviewContainer-normal {

  background-color: lightgrey;
  height: 850px;
  width: 100%;


  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;

  div {
    background-color: lightblue;
    color: black;
  }

  .upper-right {
    display: grid;
    grid-template-rows: minmax(225px, 225px) minmax(225px, 225px) minmax(225px, 225px);
    grid-gap: 10px;

    div {
      background-color: yellow;
    }


    .product-info {
      display: grid;
      grid-template-rows: 1fr 1fr 4fr 1fr;
      grid-gap: 10px;

      div {
        background-color: palevioletred;
      }

      .prodName-pi {
        font-size: 30px;
        font-weight: bold;
      }

      .origPrice {
        font-weight: bold;
      }

      .old {
        text-decoration: line-through;
        text-decoration-style: solid;
      }

      .salePrice {
        font-weight: bold;
        color: blue;
      }

    }

  }

}




/* Row Styling */
.selector-text {
  font-weight: bold;
}

.row1Or2 {
  display: flex;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 5px;
  padding-left: 10px;

  .rowImg {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: lightslategray;
  }
}

.row2 {
  padding-top: 10px;
}


.row3 {
  display: flex;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 15px;
  padding-left: 20px;

  .rowImg {
    width: 65px;
    height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: lightslategray;
  }


}

.r2or3 {
  padding-top: 3px;
}

.selectedContainer {
  position: relative;
}

.rowOverlay {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -60px;
  height: 100%;
  width: 100%;
  opacity: 1;
  color: orangered;
}

/* Dropdowns and Add-to-cart */
.dropDowns-addtoCart {
  display: grid;
  grid-template-rows: 1fr 1fr;


  .sizeAndQty {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-gap: 20px;
    padding: 15px;
    padding-top: 40px;

    /*div {
      background-color: white;
      border-width: medium;
      border-color: black;
      border-style: solid;
      text-align: center;
      align-self: center;
    }*/

    div {
      background-color: white;
      align-self: center;
    }

    .dropdown-toggle {
      width: 100%;
      height: 60px;
    }


  }

  .addToCartAndStar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    padding-bottom: 20px;

    div {
      background-color: white;
      align-self: center;
    }

    .btn {
      width: 100%;
      height: 60px;
    }
  }

}




/* Expanded View Styling */
.overviewContainer-expanded {

  background-color: lightgrey;
  height: 850px;
  width: 100%;

  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-gap: 10px;

  div {
    background-color: lightblue;
    color: black;
  }

  .lower-portion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

}


.expand-button {
  float: right;
}
