/* Navbar STYLING*/
.navbar {

  width: 1500px;
  left: -18%;
}


/* Normal Gallery Styling */
.overviewContainer-normal {

  /*background-color: lightgrey;*/
  height: 850px;
  width: 100%;


  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;

  div {
    /*background-color: lightblue;*/
    color: black;
  }

  /* Image Gallery Normal */
  .image-gallery {


    .galleryImage {
      width: auto;
      max-height: 690px;
      max-width: 640px;
      margin: auto;
      display: block;
      padding: 30px;

      position: relative;
      top: 50%;
      transform: translateY(-50%);

    }
  }

  .upper-right {
    display: grid;
    grid-template-rows: minmax(225px, 225px) minmax(225px, 225px) minmax(225px, 225px);
    grid-gap: 10px;

    div {
      /*background-color: yellow;*/
    }


    .btn {
      font-weight: bold;
      color: black;
    }



    .product-info {
      display: grid;
      grid-template-rows: 1fr 1fr 4fr 1fr;
      grid-gap: 10px;
      padding-top: 60px;

      div {
        /*background-color: palevioletred;*/
      }

      .prodName-pi {
        font-size: 30px;
        font-weight: bold;
      }

      .origPrice {
        font-weight: bold;
      }

      .old {
        text-decoration: line-through;
        text-decoration-style: solid;
      }

      .salePrice {
        font-weight: bold;
        color: blue;
      }

    }


    /* Style rows */
    .style-selector {
      .styleIMGS {
        padding-top: 20px;
      }
    }

  }

}



/* Column Styling */
.columnOfImages {
  display: grid;
  grid-template-rows: repeat(70px, 7);
  grid-gap: 10px;
  position: absolute;
  z-index: 1;
  padding: 20px;
  top: 160px;
  left: 10%;

  .littleImage {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    border-width: thin;
  }

  .selected {
    opacity: 50%;
  }

  .horizontalLine {
    padding-top: 5px;
    border-bottom: 6px solid black;
    width: 70px;
    position: relative;

  }
}

/* Feature Styling */
.sm-links {

  padding-left: 40px;

  .featureCheck {
    font-weight: bold;
    font-size: 20px;
  }

  .featureText {
    font-size: 14px;
  }
}


/* Row Styling */
.selector-text {
  font-weight: bold;
}

.row1Or2 {
  display: flex;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 5px;
  padding-left: 10px;

  .rowImg {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }
}

.row2 {
  padding-top: 10px;
}


.row3 {
  display: flex;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 15px;
  padding-left: 20px;

  .rowImg {
    width: 65px;
    height: 65px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }


}

.r2or3 {
  padding-top: 3px;
}

.selectedContainer {
  position: relative;
}

.rowOverlay {
  display: block;
  position: absolute;
  bottom: 0px;
  right: -50px;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.checkMark {
  color: orange;
  font-size: 30px;
}


/* Dropdowns and Add-to-cart */
.dropDowns-addtoCart {
  display: grid;
  grid-template-rows: 1fr 1fr;


  .sizeAndQty {
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-gap: 20px;
    padding: 15px;
    padding-top: 40px;

    div {
      background-color: white;
      align-self: center;
    }

    .dropdown-toggle {
      width: 100%;
      height: 60px;
    }


  }

  .addToCartAndStar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    padding-bottom: 20px;

    div {
      background-color: white;
      align-self: center;
    }

    .btn {
      width: 100%;
      height: 60px;
    }
  }

}



/* Product Blurb */
.product-blurb {

  margin-left: 150px;

  .slogan {
    font-weight: bold;
    font-size: 20px;
  }

  .prodDesc {
    font-size: 16px;
    padding-top: 5px;
  }

  .vertBar {
    border-right: 2px solid black;
    height: 120px;
    position: relative;
    top: -100px;
    left: 10px;
  }
}

/* Links */
.sm-links {

  .linkPic {
    max-height: 30px;
    max-width: auto;
  }
}



/* Expanded View Styling */
.overviewContainer-expanded {

  /*background-color: lightgrey;*/
  height: 850px;
  width: 100%;

  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-gap: 10px;

  div {
    /*background-color: lightblue;*/
    color: black;
  }

  /* Image Gallery Expanded */
  .image-gallery {


    .galleryImage {
      width: auto;
      max-height: 695px;
      max-width: 1100px;
      margin: auto;
      display: block;
      padding: 30px;

      position: relative;
      top: 50%;
      transform: translateY(-50%);

    }
  }

  .lower-portion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

}


.expand-button {
  float: right;
}
