.overviewContainer-normal {

  background-color: lightgrey;
  height: 850px;
  width: 100%;


  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;

  div {
    background-color: lightblue;
    color: black;
  }

  .upper-right {
    display: grid;
    grid-template-rows: minmax(225px, 225px) minmax(225px, 225px) minmax(225px, 225px);
    grid-gap: 10px;

    div {
      background-color: yellow;
    }


    .product-info {
      display: grid;
      grid-template-rows: 1fr 1fr 4fr 1fr;
      grid-gap: 10px;

      div {
        background-color: red;
      }

      .prodName-pi {
        font-size: 30px;
        font-weight: bold;
      }


    }
  }

}



.overviewContainer-expanded {

  background-color: lightgrey;
  height: 850px;
  width: 100%;


  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-gap: 10px;

  div {
    background-color: lightblue;
    color: black;
  }

  .lower-portion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

}


.expand-button {
  float: right;
}
